@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
     margin: 0;
     padding: 0;
}

.container {
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 30px;
     background-color: #b6b6b6;
     font-family: 'Roboto',
          sans-serif;
}

.calculator-container {
     background-color: black;
     height: 400px;
     padding: 10px;
     width: 230px;
     gap: 10px;
     border-radius: 10px;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: 100px repeat(5, 1fr);
     grid-template-areas:
          "input input input input"
          "all-clear clears percent divide"
          "seven eight nine multiply"
          "four five six minus"
          "one two three plus"
          "zero zero decimal equals";
}

.btn {
     width: 50px;
     height: 50px;
     border-radius: 50%;
     font-size: 20px;
     border: none;
     font-weight: bold;
}

.btn-number {
     background-color: #323232;
     color: #E0E0E0;
}

.btn-number:hover{
     background-color: #636363;
}

.btn-operators {
     background-color: #FE9F09;
     color: #fff;
}

.btn-operators:hover{
     background-color: rgba(254, 161, 11, 0.7);
}

.btn-grey {
     background-color: #A5A5A5;
     color: #040404;
}

.btn-grey:hover {
     background-color: #bebebe;
}

.input {
     grid-area: input;
     border: none;
     background-color: #646464;
     color: #fff;
     border-radius: 5px;
     font-size: 50px;
     overflow-x: scroll;
     text-align: right;
     word-wrap: break-word;
     // padding-top: 50px;
}

// input[type=number]::-webkit-inner-spin-button,
// input[type=number]::-webkit-outer-spin-button {
//      -webkit-appearance: none;
//      -moz-appearance: none;
//      appearance: none;
//      margin: 0;
// }

.clear {
     grid-area: clears;
}

.all-clear {
     grid-area: all-clear;
}

.percent {
     grid-area: percent;
}

.divide {
     grid-area: divide;
}

.seven {
     grid-area: seven;
}

.eight {
     grid-area: eight;
}

.nine {
     grid-area: nine;
}

.multiply {
     grid-area: multiply;
}

.four {
     grid-area: four;
}

.five {
     grid-area: five;
}

.six {
     grid-area: six;
}

.minus {
     grid-area: minus;
}

.one {
     grid-area: one;
}

.two {
     grid-area: two;
}

.three {
     grid-area: three;
}

.plus {
     grid-area: plus;
}

.zero {
     grid-area: zero;
     width: 110px;
     border-radius: 100px;
}

.decimal {
     grid-area: decimal;
}

.equals {
     grid-area: equals;
}